<a class="link link--white" href="{{ link.url }}">
  {% case link.title %}
    {% when 'Twitter' %}
      {% render 'icon-twitter' %}
    {% when 'Linkedin' %}
      {% render 'icon-linkedin' %}
  {% endcase %}
</a>
