@import '../assets/mixins';

.main-hero {
  &__wrapper {
    position: relative;
    display: flex;
    height: 75vh;
    min-height: 664px;

    @include breakpoint-down(mobile) {
      flex-direction: column-reverse;
      height: fit-content;
    }

    @include breakpoint-up(xxxl) {
      min-height: 658px;
      max-height: 658px;
    }
  }

  &__image {
    z-index: -1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: cover;

    @include breakpoint-down(mobile) {
      position: unset;
      min-height: 430px;
    }
  }

  &__content {
    width: 100%;
    height: fit-content;
    align-self: flex-end;
    position: relative;

    &::before {
      content: ' ';
      display: block;
      height: 100%;
      min-width: 60%;
      border-top-right-radius: 20px;
      background-color: var(--color-white);
      position: absolute;
      z-index: -1;
      bottom: -1px;

      @include breakpoint-between(md, lg) {
        min-width: 90%;
      }

      @include breakpoint-down(mobile) {
        border-radius: 0;
        width: 100%;
      }
    }

    .content-wrapper {
      width: 50%;
      padding: 50px 0;
      max-width: 660px;

      @include breakpoint-between(md, lg) {
        width: 90%;
        max-width: 90%;
      }

      @include breakpoint-down(mobile) {
        width: 100%;
        padding: 30px 0;
        max-width: 100%;
      }

      h1 {
        margin-bottom: 18px;
      }
    }
  }
}