@import '../assets/mixins';

.main-list-products {
  padding: 45px 0 50px;

  @include breakpoint-down(mobile) {
    padding-bottom: 0;
    padding-top: 30px;
  }

  .list-product {
    margin-bottom: 50px;
    transition: var(--transition);
    background-color: var(--color-white);
    max-height: 1500px;

    &.hidden {
      opacity: 0;
      max-height: 0;
      margin-bottom: 0;
      pointer-events: none;
    }

    &.active {
      .variant {
        opacity: 1;
        transform: unset;
      }
    }
  
    &__head {
      gap: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 35px;

      .link {
        &:hover {
          color: var(--color-purple);
        }
      }

      @include breakpoint-down(mobile) {
        img {
          max-width: 39px;
          max-height: 39px;
          height: auto;
          width: auto;
        }
      }
    }
  
    &__variants {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 17px;

      @include breakpoint-down(xl-l) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include breakpoint-down(lg) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @include breakpoint-down(mobile) {
        grid-template-columns: 1fr;
      }
  
      .variant {
        min-width: 0;
        padding: 15px;
        border: 1px solid var(--color-grey);
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        transition: all ease-in-out .3s;
        gap: 5px;

        &__title {
          min-height: 90px;
        }

        &__route {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
        }
  
        &__price {
          margin-top: auto;
          transition: var(--transition);
        }
  
        &__controls {
          margin-top: 25px;
          display: flex;
          gap: 10px;
          user-select: none;
        }

        &:hover {
          border: 1px solid transparent;
          box-shadow: 0 0 0 2px var(--color-purple);
        }

        form {
          position: relative;
          z-index: 7;
        }
      }
    }
  }
}