body {
  min-height: 300vh;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 76px;
  
  &__wrapper {
    background: var(--color-white);
    position: absolute;
    width: 100%;
    height: 100%;

    .container {
      display: flex;
      position: relative;
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    color: var(--color-black);
    width: 117px;
    height: auto;
  }

  .nav {
    display: flex;
    gap: 36px;
    align-items: center;
    height: 100%;

    &:hover {
      .dropdown {
        transform: translateY(0);
      }
    }

    .dropdown {
      transition: var(--transition);
      transform: translateY(-100%);
      position: fixed;
      z-index: -1;
      background-color: var(--color-grey-light);
      top: 76px;
      left: 0;
      width: 100%;
      padding: 0 25px;
      display: flex;
      justify-content: center;

      &__item {
        margin: 0 40px;
        padding: 20px;
      }
    }
  }  
}