@import '../assets/mixins';

.product {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint-up(mobile) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  &-title {
    display: none;

    @include breakpoint-up(mobile) {
      display: block;
    }
  }

  &__title {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0.6px;
    margin: 0 0 30px 0;

    @include breakpoint-up(mobile) {
      font-size: 60px;
      line-height: 68px;
      margin: 0 0 45px 0;
    }
  }

  &__breadcrumbs {
    margin-bottom: 15px;

    .divider {
      margin: 0 10px;
    }

    span {
      font-family: var(--font-secondary);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  &-title--mobile {
    display: block;

    @include breakpoint-up(mobile) {
      display: none;
    }
  }

  &-gallery {
    display: none;
    overflow-x: hidden;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 100%;
      height: 366px;
      display: flex;
      background:#F2F2F0;
      cursor: pointer;

      @include breakpoint-up(lg) {
        height: 569px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-thumb {
      .swiper-slide {
        width: 97px;
        height: 53px;
        box-sizing: border-box;
        border: 2px solid transparent;

        @include breakpoint-up(lg) {
          height: 83px;
        }

        &.swiper-slide-thumb-active {
          border: 2px solid var(--color-purple);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-full {
      margin-bottom: 20px;
    }
  }

  &__info-wrapper {
    flex: 0 0 100%;

    @include breakpoint-up(mobile) {
      flex: 0 0 50%;
    }

    @include breakpoint-up(xl) {
      flex: 0 0 calc(100% - 541px);
    }

    .shopify-payment-button {
      display: none;
    }
  }

  &__media-wrapper {
    flex: 0 0 100%;
    overflow-x: hidden;
    margin-bottom: 40px;

    @include breakpoint-up(mobile) {
      flex: 0 0 45%;
      margin-bottom: 0;
      margin-right: 20px;
    }

    @include breakpoint-up(xl) {
      flex: 0 0 518px;
      margin-left: -28px;
      margin-right: 70px;
    }
  }

  variant-radios {
    fieldset {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 15px;
      margin-bottom: 47px;
      justify-content: space-between;

      @include breakpoint-up(xxl) {
        justify-content: flex-start;
      }

      legend {
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px; /* 147.059% */
        letter-spacing: 0.17px;
        margin-bottom: 15px !important;
      }
    }
  }

  .visually-hidden,
  .hidden {
    display: none;
  }

  .product__tax {
    display: none;
  }

  .price-block {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 25px;

    @include breakpoint-up(xxl) {
      max-width: calc((100% - 38px));
    }

    .variant-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 30px;
      margin-right: 15px;

      @include breakpoint-up(mobile) {
        font-size: 27px;
        line-height: 37px;
      }
    }
  }

  .price-per-item__container {
    margin-right: 10px;
  }

  .variant__controls {
    display: flex;
    margin-bottom: 45px;

    .input-quantity {
      margin-right: 10px;
    }
  }
}

/* component-quantity */
.quantity {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color-grey);
  box-shadow: none;
  outline: none;
  height: 46px;
  box-sizing: border-box;
  font-weight: 300;
  padding: 5px 10px;
}

.quantity__input {
  font-size: 22px;
  font-weight: 300;
  opacity: 0.85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  flex-grow: 1;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
}

.quantity__button {
  flex-shrink: 0;
  font-size: 1.8rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  .visually-hidden {
    display: none;
  }
}

.quantity__button svg {
  width: 1rem;
  pointer-events: none;
}

.quantity__button:not(:focus-visible):not(.focused),
.quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
  -webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input[type='number'] {
  -moz-appearance: textfield;
}

.quantity__rules-cart {
  position: relative;
}

.variant__description {
  display: none;

  h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px;

    @include breakpoint-up(mobile) {
      font-size: 27px;
      line-height: 37px;
    }
  }

  p {
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.17px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: var(--deep-indigo);
      text-decoration: underline;
      transition: ease-in-out 0.3s;

      &:hover {
        color: var(--color-purple);
      }
    }
  }

  &--col {
    margin-bottom: 45px;
  }

  .product_description {
    margin-bottom: 25px;

    p {
      margin-bottom: 10px;
    }
  }

  .product_downloads {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    h2 {
      flex: 0 0 100%;
      margin-bottom: 10px;
    }

    a {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }

  .product_graphic-workflow {

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include breakpoint-up(xl) {
        width: auto;
        object-fit: unset;
      }
    }
  }

  .product_protocols {
    p {
      margin-bottom: 10px;
    }
  }

  .product_usage {
    margin-bottom: 60px;

    p {
      margin-bottom: 12px;
    }
  }
}

// product radio

.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 45px 0;
  max-width: 44rem;
  min-width: fit-content;
  border: none;
}

variant-radios,
variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

.product-form__input .form__label {
  padding-left: 0;
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 17px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;

  @include breakpoint-up(mobile) {
    font-size: 24px;
    line-height: 37px;
  }

  @include breakpoint-up(lg) {
    padding: 20px 30px;
    min-height: 215px;
  }

  @include breakpoint-up(xxl) {
    flex: 0 0 calc((100% - 52px) / 2);
  }

  .price {
    margin-top: 25px;
  }
}

.product-form__input input[type='radio'] + label:before {
  content: '';
  position: absolute;
  top: calc(var(--variant-pills-border-width) * -1);
  right: calc(var(--variant-pills-border-width) * -1);
  bottom: calc(var(--variant-pills-border-width) * -1);
  left: calc(var(--variant-pills-border-width) * -1);
  z-index: -1;
  border-radius: var(--variant-pills-radius);
  box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
    var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
}

.product-form__input input[type='radio'] + label:hover {
  border-color: var(--color-purple);
}

.product-form__input input[type='radio']:checked + label {
  border-color: var(--color-purple);
}

// Related publications
.related-publications {
  margin-top: 30px;
  display: none;

  h2 {
    font-size: 20px;
    line-height: 30px;

    @include breakpoint-up(mobile) {
      font-size: 60px;
      line-height: 70px;
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

    @include breakpoint-up(mobile) { 
      margin: 40px -15px 0 -15px;
    }
  }

  &-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #F2F2F0;
    flex: 0 0 100%;
    margin: 15px 0;

    &__img {
      position: relative;
      width: 100%;

      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(88 / 169 * 100%);
      }

      > img {
        position: absolute;
        border-radius: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      padding: 25px;
    }

    h2 {
      font-size: 27px;
      font-style: normal;
      font-weight: 300;
      line-height: 37px;
      margin: 20px 0;
      color: var(--color-indigo-deep);
    }

    .date {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }

    &__btn {
      font-family: var(--font-secondary);
      color: var(--color-purple);
      font-size: 20px;
      line-height: 28px;
      display: inline-flex;
      cursor: pointer;
      text-decoration: none;
      line-height: 1.2;
      letter-spacing: -.03em;
      padding: 0 31px 0 0;
      font-weight: 400;
      white-space: nowrap;
      position: relative;
      box-sizing: border-box;

      .link--arrow {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        border-radius: 50%;

        svg {
          position: relative;

          path {
            transition: all .3s;
          }
        }

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          top: 0;
          left: -100%;
          background-color: var(--color-purple-light);
          transition: all .5s;
        }
      }

      &:hover {
        .link--arrow:before {
          left: 0;
        }

        .link--arrow path {
          fill: var(--color-white) !important;
        }
      }
    }

    @include breakpoint-up(mobile) {
      flex: 0 0 calc((100% - 60px) / 2);
      margin: 15px;
    }
  }
}

#scroll-top {
  display: flex;
  flex-direction: column;
  width: 55px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 32px;
  display: none;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: all ease-in-out .3s;

  @include breakpoint-up(xl) {
    display: block;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  span {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
  }

  .icon {
    width: 53px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid var(--color-purple);
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;

    svg {
      position: relative;
      z-index: 99;
      path {
        transition: all .3s;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: var(--color-purple);
      top: 0;
      left: 0;
      transform: translateY(100%);
      transition: all .3s;
    }
  }

  &:hover {
    .icon {
      svg path {
        fill: var(--color-white) !important;
      }
    }
    .icon::after {
      transform: translateY(0);
    }
  }
}