@import '../assets/mixins';

.footer {
  background-color: var(--color-indigo-deep);
  color: var(--color-white);

  &__section {
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__top {
    display: flex;
    gap: 26px;
    
    @include breakpoint-between(md, lg) {
      flex-wrap: wrap;
      gap: 60px;
    }

    & > div {
      flex-basis: 18%;

      @include breakpoint-between(md, lg) {
        flex-basis: 25%;
      }

      &:first-child {
        flex-basis: 58%;

        @include breakpoint-between(lg, xl) {
          flex-basis: 33%;
          margin-right: 7%;

          .footer__slogan br {
            display: none;
          }
        }

        @include breakpoint-between(md, lg) {
          flex-basis: 100%;
        }
      }
    }

    @include breakpoint-down(mobile) {
      flex-direction: column;
      gap: 37px;
    }
  }

  &__logo {
    max-width: 110px;
  }

  &__slogan {
    max-width: 440px;
    margin-top: 20px;
    letter-spacing: 0.74px;
    line-height: 44.4px;
  }

  &__wrapper {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    row-gap: 78px;
    box-sizing: border-box;

    @include breakpoint-down(lg) {
      padding-top: 30px;
      row-gap: 30px;
    }

    @include breakpoint-down(mobile-m) {
      row-gap: 7px;
    }
  }

  &__subscription {
    margin-top: 55px;

    form {
      width: 100%;
      max-width: 443px;
      border-radius: 10px;
      position: relative;

      input {
        background-color: transparent;
        padding: 18px 20px;
        border-radius: 10px;
        color: var(--color-white);
        border: 1px solid var(--color-purple-light);
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        font-weight: bold;

        &::placeholder {
          opacity: 0;
        }
  
        &:focus,
        &:active,
        &:focus-visible {
          border-color: var(--color-purple-light) !important;
          outline: none !important;
        }

        &:focus,
        &:active,
        &:focus-visible,
        &:not(:placeholder-shown) {
          + label {
            padding-left: 0;
            font-size: 12px;
            top: -40px;
          }
        }
      }

      label {
        display: flex;
        position: absolute;
        align-content: center;
        align-items: center;
        padding: 18px 20px;
        pointer-events: none;
        top: 0;
        transition: var(--transition);
      }

      button {
        position: absolute;
        width: 50px;
        height: 60px;
        right: 0;
        background-color: transparent;
        border: none;
        border-left: 1px solid var(--color-purple-light);
        box-shadow: none;
        cursor: pointer;
        overflow: hidden;

        span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-purple-light);
          transition: var(--transition);
          
          svg {
            width: 22px;
          }

          &:first-of-type {
            transform: translateX(-100%);
            background-color: var(--color-purple);
            color: var(--color-white);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            svg path {
              fill: var(--color-white);
            }
          }
        }

        &:hover {
          span {
            &:last-of-type {
              transform: translate(100%);
            }

            &:first-of-type {
              transform: translateX(0);
            }
          }
        }        
      }
    }

    .heading {
      margin-bottom: 12px;
    }

    @include breakpoint-down(mobile) {
      margin-top: 30px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .heading {
      color: var(--color-purple-light);
      font-weight: 300;
      font-family: var(--font-secondary);
      letter-spacing: -0.1px;
    }

    &.contacts {
      p {
        margin: 0 0 5px 0;
        line-height: 20px;
      }

      .address {
        margin-top: 10px;
        // margin-bottom: -10px;
      }
  
      .social-links {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;

        svg {
          width: 19.5px;
        }
      }
    }

    &.links {
      br {
        @include breakpoint-down(md) {
          display: none;
        }
      }

      a {
        font-size: 20px;
        line-height: 30px;
      }
    }

    @include breakpoint-down(mobil) {
      gap: 15px;
    }
  }

  &__bottom {
    @include breakpoint-down(mobile) {
      &.desktop {
        display: none;
      }
    }

    @include breakpoint-up(mobile) {
      &.mobile {
        display: none;
      }
    }
  }

  &__copyright {
    border-top: 1px solid var(--color-purple-light);
    flex-basis: 100%;
    padding: 16px 63px 30px 0;
    display: flex;
    // align-items: center;
    justify-content: space-between;

    @include breakpoint-down(lg) {
      padding: 16px 0px 30px 0;
    }

    label {
      opacity: 0.4;
    }

    .links {
      display: flex;
      gap: 38px;
      padding-top: 10px;

      .link {
        font-weight: 400;
        letter-spacing: 0.26px;
      }

      .mobile & {
        border-bottom: 1px solid var(--color-purple-light);
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }

    .mobile & {
      border-top: none;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 0;

      & > *:last-child {
        margin-top: 10px;
      }
    }
  }
}