{{ 'section-cart.css' | asset_url | stylesheet_tag }}

<div class="container cart-block cart__heading">
  <h1 class="text--xl">Cart</h1>
  <a href="/" class="link underlined text--s weight--normal">Continue shopping</a>
</div>
