{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="container footer__wrapper">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div class="copyrights">
      © {{ 'now' | date: '%Y' }}.
      {{ section.settings.copyrights_text }}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Copyrights section",
  "settings": [
    {
      "type": "text",
      "id": "copyrights_text",
      "label": "Copyright text"
    },
    {
      "type": "link",
      "id": "terms_and_conditions_link",
      "label": "Terms and Conditions link"
    },
    {
      "type": "link",
      "id": "privacy_policy_link",
      "label": "Privacy Policy link"
    },
    {
      "type": "link",
      "id": "dev_link",
      "label": "Developer link"
    }
  ]
}
{% endschema %}
