{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="container footer__wrapper">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'copyright_block' %}
          <div class="copyrights">
            <div class="copyrights__text">© {{ 'now' | date: '%Y' }}. {{ block.settings.copyright_text }}</div>
            <div class="copyrights__links"></div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</footer>

{% schema %}
{
  "name": "Footer section",
  "blocks": [
   {
     "name": "Copyright block",
     "type": "copyright_block",
     "settings": [
       {
         "type": "text",
         "id": "copyright_text",
         "label": "Copyright text"
       }
     ]
   }
  ]
}
{% endschema %}
