<div>
  Main hero
</div>

{% schema %}
{
  "name": "t:sections.main-hero.name",
  "tag": "section",
  "class": "section main-hero",
  "blocks": [
    {
       "type": "image",
       "name": "Image",
       "settings": [
         {
           "type": "image_picker",
           "id": "urunslidergorsel",
           "label": "Slider Image",
           "info": "Slider Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "t:sections.main-hero.presets.name",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
