{{ 'section-main-hero.css' | asset_url | stylesheet_tag }}

<div class="main-hero__wrapper">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'image' %}
        <div class="main-hero__image" style="background-image: url({{ block.settings.image | image_url }});"></div>
      {% when 'content' %}
        <div class="main-hero__content">
          <div class="container">
            <div class="content-wrapper">
              <h1 class="text--2xl">{{ block.settings.heading }}</h1>
              <p class="text--s">{{ block.settings.text }}</p>
            </div>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.main-hero.name",
  "tag": "section",
  "class": "section main-hero",
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.main-hero.blocks.image.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-hero.blocks.image.settings.image.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-hero.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.main-hero.blocks.content.settings.heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:sections.main-hero.blocks.content.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-hero.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
