<div>
  Main hero
</div>

{% schema %}
{
  "name": "t:sections.main-hero.name",
  "tag": "section",
  "class": "section main-hero",
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.main-hero.blocks.image.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-hero.blocks.image.settings.image.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-hero.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.main-hero.blocks.content.settings.heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:sections.main-hero.blocks.content.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-hero.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
