body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 300; 
  cursor: default;
}

.content {
  padding-top: var(--menu-height);
}

.container {
  padding: 0 32px;
  max-width: 1440px;
  margin-inline: auto;

  @include breakpoint-down(mobile) {
    padding: 0 20px;
  }
}