a {
  text-decoration: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  transition: var(--transition);
  color: var(--indigo);

  &:hover {
    color: var(--color-purple-light);
  }

  &.underlined {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      width: 100%;
      bottom: 1%;
      border-bottom: 1px solid;
    }
  }
  
  &.underline {
    display: block;
    position: relative; 
    width: fit-content;
    overflow: hidden;

    span:first-of-type {
      display: inline-block;
      position: relative;
    }

    &:after, span:first-of-type:after {
      content: ' ';
      display: inline-block;
      height: 1px;
      width: 100%;
      background-color: var(--color-indigo);
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-101%);
      transition: var(--transition);
    }

    &:hover, &.active {
      color: var(--color-indigo);

      &:after, span:first-of-type:after {
        transform: translateX(0);
      }
    }
  }

  &--white {
    color: var(--color-white);
    
    &:hover {
      color: var(--color-purple-light);
    }
  }

  &--purple {
    color: var(--color-purple);

    &:hover {
      color: var(--color-purple-light);
    }
  }
}

.btn {
  box-sizing: border-box;
  height: 46px;
  width: fit-content;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--color-indigo-deep);
  color: var(--color-indigo-deep);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  transition: var(--transition);
  cursor: pointer !important;
  font-family: var(--font-secondary);

  span {
    z-index: 1;
  }
  
  &.btn-with-icon {
    .label {
      padding-right: 50px;
      transition: var(--transition);
    }

    span {
      &:first-of-type,
      &:last-of-type {
        transition: var(--transition);
        position: absolute;
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:first-of-type {
        left: 0;
        transform: translateX(-101%);
      }

      &:last-of-type {
        right: 0;
        border-left: 1px solid;
      }
    }

    &:hover {
      .label {
        padding-right: 0;
        padding-left: 50px;
      }

      span {
        &:first-of-type {
          transform: translateX(0);
          transition-delay: 0.15s;
        }

        &:last-of-type {
          transform: translateX(100%);
        }
      }
    }
  }

  &::before {
    content: ' ';
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-purple);
    transform: translateX(-101%);
    transition: var(--transition);
    z-index: 0;
  }

  &--s {
    height: 34px;
    padding: 12px;
    font-size: 14px;
    line-height: 1;
  }

  &.purple-outlined {
    color: var(--color-purple);
    border-color: var(--color-purple);
  }

  &.purple {
    color: var(--color-white);
    border-color: var(--color-purple);
    background-color: var(--color-purple);

    &.loading {
      animation: blink 2s infinite both;

      &:active {
        pointer-events: none;
      }
    }

    &::before {
      background-color: var(--color-purple);
      transition: var(--transition);
    }

    &:hover {
      border-color: var(--color-purple-light);

      &::before {
        background-color: var(--color-purple-light);
      }
    }
  }

  &.purple-light {
    color: var(--color-indigo);
    border-color: var(--color-purple-light);
    background-color: var(--color-purple-light);

    &::before {
      background-color: var(--color-purple-light);
      transition: var(--transition);
    }

    &:hover {
      color: var(--color-indigo);
      border-color: var(--color-purple);

      &::before {
        background-color: var(--color-purple);
      }
    }
  }

  &:hover {
    color: var(--color-white);
    border-color: var(--color-purple);

    &::before {
      transform: translateX(0);
    }
  }
}


@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
