@import url("https://use.typekit.net/cun6mpj.css");

:root {
  --color-white: #fff;
  --color-indigo: #252538;
  --color-indigo-deep: #1d182d;
  --color-purple: #7a53d1;
  --color-purple-light: #a799ff;
  --color-grey: #b9b7bf;
  --color-grey-light: #e1dfe7;
  --transition: 0.4s ease-in-out;
  --font-primary: aktiv-grotesk;
  --font-secondary: halyard-micro;
  --menu-height: 76px;
}

@include breakpoint-down(mobile) {
  :root {  
    --menu-height: 94px;
  }
}