.cart-toggle {
  & > * {
    pointer-events: none;
  }
}

.cart-drawer {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  transition: var(--transition);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  
  &.active {   
    visibility: visible;
    background-color: rgba(0,0,0,.5);
  }

  .close-cart-drawer {
    cursor: pointer;

    svg {
      color: var(--color-grey);
      transition: var(--transition);
    }

    &:hover {
      svg {
        color: var(--color-purple-light);
      }
    }
  }

  &__wrapper {
    background-color: var(--color-white);
    width: 100%;
    max-width: 870px;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    height: fit-content;
    padding: 32px 32px 32px 22px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    transform: translateX(100%);
    transition: var(--transition);

    .active & {
      transform: translateX(0);
    }
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid var(--color-purple-deep);
  }

  &__totals {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .subtotal {
      display: flex;
      gap: 42px;
    }
  }

  &__controls {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .cart-product {
    padding: 25px 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--color-indigo-deep);
      margin-bottom: 20px;
    }

    &__wrapper {
      display: flex;
      gap: 50px;
    }

    .image {
      width: 200px;
      height: auto;
      position: relative;
      flex-shrink: 0;
      aspect-ratio: 5 / 4;
      background-color: rgba(0,0,0,.05);
      line-height: 0;

      .product-icon {
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%) translateY(-50%);
        width: 52px;
        height: 52px;
        padding: 10px;
        border: 1px solid var(--color-indigo-deep);
        border-radius: 50%;
        background-color: var(--color-white);
      }

      img {
        max-width: 100%;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      width: 100%;

      .product-label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: fit-content;
      }

      &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        &.top {
          padding-top: 10px;
        }

        &.bottom {
          margin-top: auto;
          align-items: flex-end;
        }
      }
    }
  }
}