@import '../assets/mixins';

.filters {
  &:not(:first-of-type) {
    margin: 50px 0 95px;

    @include breakpoint-down(mobile) {
      margin: 30px 0 60px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @include breakpoint-down(mobile) {
      row-gap: 0;
    }
  }

  &__block {
    min-width: 560px;
    margin-top: 30px;

    @include breakpoint-down(mobile) {
      min-width: unset;
      margin-top: 20px;
    }
  }

  .block {
    &__title {
      margin-bottom: 15px;
      font-family: var(--font-secondary);

      @include breakpoint-down(mobile) {
        margin-bottom: 10px;
      }
    }

    &__options {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;

      .clear-filter-group {
        margin-left: 20px;
        display: none;
        font-family: var(--font-secondary);
        letter-spacing: -0.03rem;

        @include breakpoint-down(mobile) {
          margin-left: 0;
          margin-top: -10px;
        }
      }

      &.active {
        .clear-filter-group {
          display: block;
        }
      }
    }
  }

  .option {
    padding: 5px 10px;
    border: 1px solid var(--color-grey-light);
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    gap: 10px;
    
    span:not(.clear) {
      pointer-events: none;
    }

    @include breakpoint-up(mobile) {
      &:hover {
        background-color: var(--color-grey-light);
      }
    }


    &__clear {
      display: none;
      transition: var(--transition);

      &:hover {
        color: var(--color-purple);
      }
    }

    &.selected {
      border-color: var(--color-indigo);
      background-color: var(--color-grey-light);

      .option__clear {
        display: block;
      }
    }
  }
  
  @include breakpoint-down(mobile) {
    .break-line {
      width: 100%;
    }
  }
}
